body {
    width: 100%;
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: rgb(88, 32, 179);
}

header h1 {
    color: white;
    line-height: 200%;
    text-align: center;
    margin: 0;
}

#indexSpan {
    padding: 2px;
    border: solid 1px white;
}

.favorable {
    background-color: green;
    outline: solid 1px green;
    color: white;
}

.moderate {
    background-color: yellow;
    border: solid 1px yellow;
    color: black;
}

.severe {
    background-color: red;
    border: solid 1px red;
    color: white;
}

img {
    width: 50px;
}

.forecast {
    background-color:rgb(154, 114, 218);
    outline: solid 2px rgb(154, 114, 218);
    border: solid 2px white;
}

.board {
    background-color:rgb(167, 135, 219);
    outline: solid 2px rgb(167, 135, 219);
    border: solid 2px white;
}

button {
    transition-duration: 0.4s;
    border-radius: 4px;
    border: solid 2px rgb(88, 32, 179);
    color: rgb(88, 32, 179);
}
  
button:hover {
    background-color: rgb(88, 32, 179);
    color: white;
}

form {
    padding-bottom: 10px;
}